@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:regular,500,600,700);

body {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  width: 500px;
  padding-block: 5px;
  padding-inline: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

article {
  padding-inline: 10px;
  line-height: 1;
  margin: 5px;
  border-radius: 4px;
  outline: 2px solid #ddd;
}

h1 {
  font-size: 24px;
  line-height: 1;
}

div.colors-block {
  display: flex;
  flex-wrap: wrap;
}

div.images-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

div.images-block img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: 2px solid #ddd;
}

.animation-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.animation-item h4 {
  margin: 0 0 5px 0;
}

.animation-item p {
  margin: 2px 0;
}
